body{
    width: 1300px;
    background-color: #1e6d2b;
}

.menu{
    background-color: rgb(2, 49, 2);
    width: 200px;
    height: 1000px;
    float: left;
    position: fixed;
}

.elemento_menu{
    color: white;
    text-decoration: none;

    
}

li {
    padding-bottom: 20px;
}

.presentacion{
    background: rgb(2, 49, 2);
    color: white;
}
#img_portada{
    align-content: right;
    width: 200px;
    position: fixed;
}
#txt_portada{
    float: left;
    
}

.contenedor{
    padding: 20px;
    width: 1060px;
    float: right;
    text-align: justify;
    background-color: rgb(187, 187, 187);
}

#imagen_cuento{
    float: right;
    margin-left: 15px;
    
}

.biografia{
    background-color: rgb(177, 177, 177);
    padding: 20px;
}

.obra{
    margin-top: 20px;
    background-color: rgb(177, 177, 177);
    padding: 20px;
}

.legado_e_influencia{
    margin-top: 20px;
    background-color: rgb(177, 177, 177);
    padding: 20px;
}

.citas{
    margin-top: 20px;
    background-color: rgb(177, 177, 177);
    padding: 20px;
}

.cuento{
    margin-top: 20px;
    background-color: rgb(177, 177, 177);
    padding: 20px;
}

.opinion{
    margin-top: 20px;
    background-color: rgb(177, 177, 177);
    padding: 20px;
}

.glosario{
    margin-top: 20px;
    background-color: rgb(177, 177, 177);
    padding: 20px;
}

.comentarios{
    margin-top: 20px;
    background-color: rgb(177, 177, 177);
    padding: 20px;
}

#verde{
    color: rgb(3, 75, 3);
    
}

#gris{
    color: gray;
}

#imagen_cuento{
    border-radius: 20px;
}